/node_modules
package-lock.json
/demo/demo.js*
/demo/demo.d.ts*
/demo/test/test.js*
/website
/buildhelper
/state
/view
/commands
/collab
/language
/language-data
/search
/lint
/autocomplete
/codemirror
/merge
/lsp-client
/lang-javascript
/lang-java
/lang-json
/lang-cpp
/lang-python
/lang-go
/lang-css
/lang-html
/lang-php
/lang-sql
/lang-rust
/lang-xml
/lang-markdown
/lang-lezer
/lang-wast
/lang-angular
/lang-vue
/lang-liquid
/lang-sass
/lang-jinja
/lang-less
/lang-yaml
/legacy-modes
/theme-one-dark
.tern-*
