/node_modules
package-lock.json
/demo/demo.js*
/demo/demo.d.ts*
/demo/test/test.js*
/website
/buildhelper
/state
/text
/view
/commands
/history
/collab
/gutter
/rangeset
/language
/language-data
/fold
/matchbrackets
/closebrackets
/panel
/tooltip
/search
/lint
/highlight
/stream-parser
/autocomplete
/comment
/rectangular-selection
/basic-setup
/lang-javascript
/lang-java
/lang-json
/lang-cpp
/lang-python
/lang-css
/lang-html
/lang-php
/lang-sql
/lang-rust
/lang-xml
/lang-markdown
/lang-lezer
/lang-wast
/legacy-modes
/theme-one-dark
.tern-*
