.CodeMirror {
  font-family: monospace;
  line-height: 1.4;
}

.CodeMirror-content {
  line-height: inherit;
  font-family: inherit;
  padding: 4px 2px 4px 4px;
  tab-size: 4;
  -moz-tab-size: 4;
}  

.CodeMirror-gutter {
  background: #f5f5f5;
  border-right: 1px solid silver;
}

.CodeMirror-gutter-element {
  box-sizing: border-box;
  /* FIXME this is line number specific */
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}
