.CodeMirror {
  font-family: monospace;
  line-height: 1.4;
}

.CodeMirror-focused {
  /* FIXME it would be great if we could directly use the browser's
     default focus outline, but it appears we can't, so this tries to
     approximate that */
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

.CodeMirror-content {
  box-sizing: border-box;
  line-height: inherit;
  font-family: inherit;
  padding: 4px 2px 4px 4px;
  outline: none;
}

.CodeMirror-gutter {
  background: #f5f5f5;
  border-right: 1px solid silver;
}

.CodeMirror-gutter-element {
  box-sizing: border-box;
  /* FIXME this is line number specific */
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-secondary-selection {
  background-color: #3297FD;
  color: white !important;
  background-color: Highlight;
  color: HighlightText !important;
}

.CodeMirror-secondary-cursor {
  display: inline-block;
  vertical-align: text-top;
  border-left: 1px solid #555;
  width: 0px;
  height: 1.15em;
  margin: 0 -0.5px -.5em;
}
